node_modules
npm-debug.log
*.sublime-workspace
tmp
dev_tests/automatic/screenshots
dist/
!dist/.keep
*.DS_Store

.project
.classpath
.settings

.idea

.vscode/

xcuserdata
/ios/FluentIcons/Tests

/packages/svg-icons/icons
packages/react-icons/intermediate
packages/react-icons/react-icons-test/
packages/react-icons/lib/
packages/react-icons/lib-cjs/
packages/react-icons/src/icons
packages/react-icons/src/sizedIcons
packages/react-icons/src/index.tsx
packages/react-icons/yarn.lock
packages/react-icons/package-lock.json

packages/react-native-icons/intermediate
packages/react-native-icons/react-icons-test/
packages/react-native-icons/lib/
packages/react-native-icons/lib-cjs/
packages/react-native-icons/src/icons
packages/react-native-icons/src/sizedIcons
packages/react-native-icons/src/index.tsx
packages/react-native-icons/yarn.lock
packages/react-native-icons/package-lock.json

# Some Fluent tooling generates this for internal tracking assistance. Make sure it doesn't get committed.
SvgList.txt

.venv
.build/workspace-state.json
.build/arm64-apple-macosx/debug/ModuleCache/_Concurrency-3UCFSIF5FHANT.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/_StringProcessing-3MZ6K434BVMGO.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Accessibility-22PVLDV0HTYK7.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/AppKit-2JC9I2HUWS7RS.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Combine-1URW7690CKS7Q.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/CoreData-1O6KHNGVTXUNA.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/CoreFoundation-397HRU3MZGAMI.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/CoreGraphics-28K6KYQ7B9CHE.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/CoreImage-RTA3IPNEBJKE.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/CoreTransferable-2ER545HTA4E8U.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Darwin-BL0OBCOJTGW8.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/DeveloperToolsSupport-1IT10D5SCGFSQ.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Dispatch-2BZ4CMUGVKT6Z.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Foundation-1DGBGUYTZNVZM.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/IOKit-3TWP5L4M8HJD5.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Metal-WYTSEUMQ8INT.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/modules.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/ObjectiveC-WWLSFIJ1TWOF.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Observation-14ADIAQIFI9J.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/os-1KJOB05HXWRNV.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/OSLog-3PLOV6MVXD4J.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/QuartzCore-3I9UGXS6U1LNE.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Swift-1S8PJZ7F17O2F.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/Symbols-1VZVIZJGP7UDQ.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/UniformTypeIdentifiers-1NU66Q4PB4OUF.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/XPC-2DP46906JAQYJ.swiftmodule
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/_Builtin_stddef_max_align_t-25OOTM0E7SZ3X.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/_Builtin_stddef_max_align_t-25OOTM0E7SZ3X.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/_SwiftConcurrencyShims-39ZO3A1THQ3HL.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/_SwiftConcurrencyShims-39ZO3A1THQ3HL.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Accessibility-1C39AWPZ3ZCHS.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Accessibility-1C39AWPZ3ZCHS.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/AppKit-2E52K8BLPXB98.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/AppKit-2E52K8BLPXB98.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ApplicationServices-318ED6HVOOOWK.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ApplicationServices-318ED6HVOOOWK.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CFNetwork-2QM24TU1OUNU.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CFNetwork-2QM24TU1OUNU.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Cocoa-G0K7USNOMP8I.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Cocoa-G0K7USNOMP8I.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ColorSync-FUKP4SF5WDN.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ColorSync-FUKP4SF5WDN.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreData-3DC7JJOJKG7MT.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreData-3DC7JJOJKG7MT.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreFoundation-XRVNUAOWDGXL.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreFoundation-XRVNUAOWDGXL.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreGraphics-3T9VBW5GP5OQV.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreGraphics-3T9VBW5GP5OQV.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreImage-2CUH609RP6X7P.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreImage-2CUH609RP6X7P.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreServices-3FK4JMT7K1IRE.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreServices-3FK4JMT7K1IRE.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreText-2K5RVIO1QZLNS.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreText-2K5RVIO1QZLNS.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreTransferable-KM8905ZS9D06.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreTransferable-KM8905ZS9D06.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreVideo-1EDP4WMD3WVWL.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CoreVideo-1EDP4WMD3WVWL.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CUPS-JHNNNXXF1OP5.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/CUPS-JHNNNXXF1OP5.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Darwin-14TRD15FCACV2.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Darwin-14TRD15FCACV2.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/DeveloperToolsSupport-3H6S1A3Z3FZ2K.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/DeveloperToolsSupport-3H6S1A3Z3FZ2K.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/DiskArbitration-QK5Z60WO3GCK.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/DiskArbitration-QK5Z60WO3GCK.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Dispatch-Y4ZZ1HR72FEI.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Dispatch-Y4ZZ1HR72FEI.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Foundation-2M8Y3D1H909LB.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Foundation-2M8Y3D1H909LB.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ImageIO-27XM1J7FM4Q7H.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ImageIO-27XM1J7FM4Q7H.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/IOKit-1YJU4L4Q03Y5.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/IOKit-1YJU4L4Q03Y5.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/IOSurface-235Q4H9R8GAYU.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/IOSurface-235Q4H9R8GAYU.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/launch-1O6EQOTZ7QBYA.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/launch-1O6EQOTZ7QBYA.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/libDER-2YDAHEQ2C7FF0.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/libDER-2YDAHEQ2C7FF0.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/libkern-14TRD15FCACV2.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/libkern-14TRD15FCACV2.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/MachO-YWFNV22Z5VUT.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/MachO-YWFNV22Z5VUT.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Metal-1B038G1N9AC0V.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Metal-1B038G1N9AC0V.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ObjectiveC-2C4A7FIGEFV6M.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ObjectiveC-2C4A7FIGEFV6M.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/OpenGL-2YY2N6L4YVU9Y.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/OpenGL-2YY2N6L4YVU9Y.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/os-14TRD15FCACV2.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/os-14TRD15FCACV2.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/os_object-14TRD15FCACV2.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/os_object-14TRD15FCACV2.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/os_workgroup-14TRD15FCACV2.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/os_workgroup-14TRD15FCACV2.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/OSLog-3M0JBPYXURWPD.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/OSLog-3M0JBPYXURWPD.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ptrauth-25OOTM0E7SZ3X.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/ptrauth-25OOTM0E7SZ3X.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/QuartzCore-KO6TAZ9XHBR8.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/QuartzCore-KO6TAZ9XHBR8.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Security-3MRSRYU7H638B.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Security-3MRSRYU7H638B.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/SwiftOverlayShims-39ZO3A1THQ3HL.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/SwiftOverlayShims-39ZO3A1THQ3HL.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/SwiftShims-39ZO3A1THQ3HL.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/SwiftShims-39ZO3A1THQ3HL.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Symbols-1QNIPN3XYP8LO.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/Symbols-1QNIPN3XYP8LO.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/UniformTypeIdentifiers-2TQCH09YI5T7Y.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/UniformTypeIdentifiers-2TQCH09YI5T7Y.pcm.timestamp
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/XPC-1O6EQOTZ7QBYA.pcm
.build/arm64-apple-macosx/debug/ModuleCache/2YFQBBPX7LASQ/XPC-1O6EQOTZ7QBYA.pcm.timestamp
